<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <h1>Flight table</h1>
    <table class="table">
        <tr>
          <th>Flight</th>
          <th>Time</th>
          <th>Status</th>
          <th>Delay</th>
          <th>Gate</th>
        </tr>
        <tr>
          <td>A01</td>
          <td><span class="blinkTime">5:30</span></td>
          <td>Active</td>
          <td>None</td>
          <td>G05</td>
        </tr>
        <tr>
          <td>A02</td>
          <td><span class="blinkTime">12:30</span></td>
          <td>Active</td>
          <td>20 min</td>
          <td>G07</td>
        </tr>
        <tr>
            <td>A04</td>
            <td><span class="blinkTime">11:42</span></td>
            <td>Offline</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>A01</td>
            <td><span class="blinkTime">15:32</span></td>
            <td>Active</td>
            <td>2 min</td>
            <td>G09</td>
          </tr>
      </table>
</body>
</html>